@{
    ViewData["Title"] = "Home Page";
}
@model ALMBank.Models.ViewModels.CustomerAccountsViewModel

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Account number</th>
        <th scope="col">Customer name</th>
        <th scope="col">Account name</th>
        <th scope="col">Account Balance</th>
    </tr>
    </thead>
    <tbody>
            @foreach (var p in Model.CustomerList)
            {
                <tr>
                    <td>@p.Account.AccountID</td>
                    <td>@p.CustomerName</td>
                    <td>@p.Account.AccountName</td>
                    <td>@p.Account.Balance</td>
                </tr>
            }
        

    </tbody>
</table>

