@model ALMBank.Models.ViewModels.TransferDto

<div class="container">
    <div class="row">
        <div class="col-12">
            <form asp-controller="Transfer" asp-action="Index" method="POST">
                <div class="form-row">
                    <div class="col-6 form-group">
                        <label>
                            From Account #
                            <input class="form-control" asp-for="FromAccountId" />
                        </label>
                        <label>
                            To Account #
                            <input class="form-control" asp-for="ToAccountId" />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Amount
                        <input class="form-control" asp-for="Sum" />
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Transfer</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Message"]
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @TempData["Error"]
    </div>
}